fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
Pillow==10.2.0
torch==2.2.0
torchvision==0.17.0
transformers==4.37.2
gdown==4.7.3
numpy==1.26.3
pandas==2.2.0
scikit-learn==1.4.0
slowapi==0.1.9
matplotlib==3.8.2
streamlit==1.32.0
requests==2.31.0
reportlab==4.0.9  # For PDF generation
fpdf==1.7.2
